.uber {
    background-color: black;
    color: white;
    height: 36px;
    width: 100px;
    border: none;
    font-size: 12px;
    margin: 8px;
}
.amazon {
    background-color: rgb(254, 214, 14);
    height: 36px;
    width: 150px;
    border: none;
    border-radius: 18px;
    font-size: 13px;
    margin: 8px;
}

.github {
    background-color: rgb(94, 173, 74);
    color: white;
    height: 36px;
    width: 83px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    margin: 8px;
}

.bootstrap {
    background-color: rgb(120, 92, 162);
    color: white;
    height: 36px;
    width: 105px;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    margin-left: 8px;
    margin-right: 3px;
}

.bootstrap-download {
    background-color: white;
    color: rgb(131, 130, 130);
    height: 36px;
    width: 100px;
    border-style: solid;
    border-color: rgb(149, 149, 149);
    border-width: 1px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    margin-right: 8px;
}


